*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.banner{
    background-color: #add8e6;
    padding-top: 1em;
}

.ContainerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxed{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.border{
    border: 2px dotted black;
}

#heading{
    background-color: #daa520;
    font-size: 20px;
    margin-bottom: 1em;
}

nav{
    width: calc(100%/5*3);
    text-align: center;
}

img, #log{
    width: calc(100%/5*1);
}

.white{
    background-color: white;
}

.grey{
    background-color: #d3d3d3;
}

.pinkdiv{
    background-color: #ffc0cb;
    width: 40%;
    min-height: 490px;
}

.azurediv{
    background-color: #1e90ff;
    width: 60%;
    min-height: 490px;
}
.blue{
    background-color: #00008b;
}

#MPink{
    background-color: #ee82ee;
    width: 47%;
    min-height: 400px;
    border-radius: 5px;
}

#log{
    text-align: right;
}

.sizing{
    padding-top: 3em;
    padding-bottom: 3em;
}